@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #31C488, #00A2B9, #3E66A9, #673882);
}

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*UserName / E-Mail*/
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#userName {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition-duration: .3s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.userIcon {
  position: absolute;
  fill: rgb(155, 78, 255);
  width: 12px;
  top: -23px;
  left: -15px;
  opacity: 0;
  transition: .2s linear;
}

.usernameLabel {
  position: absolute;
  top: -25px;
  left: 5px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  transition: .2s linear;
  opacity: 0;
}

#userName :focus ~ .usernameLabel,
#userName :valid ~ .usernameLabel {
  transform: translateX(20px);
  opacity: 1;
}

#userName :focus ~ .userIcon,
#userName :valid ~ .userIcon {
  transform: translateX(20px);
  opacity: 1;
}

#userName :focus,
#userName :valid {
  background-color: #ddd;
  transition-duration: .3s;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#email {
  border: 2px solid white;
  background-color: transparent;
  border-radius: 10px;
  padding: 12px 15px;
  color: black;
  font-weight: 500;
  outline: none;
  caret-color: rgb(155, 78, 255);
  transition-duration: .3s;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.userIcon {
  position: absolute;
  fill: rgb(155, 78, 255);
  width: 12px;
  top: -23px;
  left: -15px;
  opacity: 0;
  transition: .2s linear;
}

.usernameLabel {
  position: absolute;
  top: -25px;
  left: 5px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
  transition: .2s linear;
  opacity: 0;
}

#email:focus ~ .usernameLabel,
#email:valid ~ .usernameLabel {
  transform: translateX(20px);
  opacity: 1;
}

#email:focus ~ .userIcon,
#email:valid ~ .userIcon {
  transform: translateX(20px);
  opacity: 1;
}

#email:focus,
#email:valid {
  background-color: #ddd;
  transition-duration: .3s;
}
/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Barra de Baixo*/
main#links{
  background-color: black;
  width: auto;
  height: auto;
  padding: 10px;
  margin: auto;
  text-align: center; 
  position:fixed;
  bottom: 0; 
  left: 0;
  right: 0;
}
.main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}
.card1 {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.instagram {
  margin-top: 0.5em;
  margin-left: 0.2em;
  fill: #cc39a4;
}
.card2 {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.twitter {
  margin-top: 0.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}
.card3 {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.github {
  margin-top: -.3em;
  margin-left: 0.2em;
}
.card4 {
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}
.discord {
  margin-top: -.5em;
  margin-left: -.9em;
  fill: #8c9eff;
}
.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}
.card1:hover .instagram {
  fill: white;
}
.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}
.card2:hover .twitter {
  fill: white;
}
.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}
.card3:hover .github {
  fill: white;
}
.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}
.card4:hover .discord {
  fill: white;
}
div.card{
  text-align: left;
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}
.card::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}
.card p:not(.heading) {
  font-size: 14px;
}
.card p:last-child {
  color: #e81cff;
  font-weight: 600;
}
.card:hover::after {
  filter: blur(30px);
}
.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Password*/
.password-label {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.password-label svg {
  width: 15px;
  height: auto;
  color: #7c7c7c;
}
.password-label input {
  width: 100%;
  outline: none;
  background: none;
  border: 1px solid transparent;
  color: #8b8b8b;
  background: #3D3D3D;
  border-radius: 12px;
  padding: 9px 30px 9px 9px;
  transition: .2s;
}
.password-label input:hover,
.password-label input:focus {
  border-color: #868686;
}
.password-label input:valid {
  background: #344b3a;
  border: 1px solid #00FF29;
  color: #00FF29;
}
.password-label input:valid~.open {
  display: none;
}
.password-label input:valid~.close {
  display: block;
}
.password-label svg {
  position: absolute;
  right: 9px;
}
.close {
  display: none;
}
/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/


/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Botao de entrar*/
.btn {

  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
  transition: color 250ms;
}

.btn::after,
.btn::before {
 
  content: '';
  position: absolute;
  inset: 0;
}

.btn::before {
  
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.btn::after {
 
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* Top-left */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
  
  clip-path: polygon(
                /* Top-left */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* top-right */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottom-right 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottom-right 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.btn:where(:hover, :focus) {
  color: #fff;
}
/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/


/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Pagina de Cadastro*/
main#cadastro{
  background-color: rgba(130, 229, 233, 0.692);
  border-radius: 20px;
  width: 500px;
  padding: 10px;
  margin: auto;
  text-align: center;  
  position: fixed;
  bottom: 0;
  top: 0;  
  right: 0;
}


/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Pagina de Login*/
main#login{
  background-color: rgba(130, 229, 233, 0.692);
  border-radius: 20px;
  width: 500px;
  padding: 10px;
  margin: auto;
  text-align: center;  
  position: fixed;
  bottom: 0;
  top: 0;  
  right: 0;  
}



/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Pagina dos Jogos*/
main#games{
  background-color: white;
  border-radius: 20px;
  width: auto;
  height: auto;
  padding: 10px;
  margin: auto;
  text-align: center;
  position: fixed;
  bottom: 150px;
  right: 0;
  left: 0;
}

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/

/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/
/*Pagina do jogo WORDSPACE*/
div#palavra{
  width: 500px;
  margin: auto;
  padding: 10px;
}

div#cronometro{
  text-align: left;
}

main#ranking{
  background-color: rgba(119, 240, 220, 0.479);
  border-radius: 20px;
  width: 600px;
  padding: 10px;
  margin: auto;
}

main#principal{
  background-color: rgba(119, 240, 220, 0.479);
  border-radius: 20px;
  width: 600px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

main#secundario{
  background-color: white;
  width: 500px;
  padding: 10px;
  margin: auto;
  text-align: center;
  
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
              /* Top-left */
              0% var(--curve-size),
  
              var(--curve-size) 0,
              /* top-right */
              100% 0,
              100% calc(100% - var(--curve-size)),
  
              /* bottom-right 1 */
              calc(100% - var(--curve-size)) 100%,
              /* bottom-right 2 */
              0 100%);
    transition: color 250ms;
  }
  
  #secundario::after,
  #secundario::before {
      content: '';
      position: absolute;
      inset: 0;
    }
    
    #secundario::before {
      background: var(--border-color);
      background-size: 300% 300%;
      animation: move-bg7234 5s ease infinite;
      z-index: -2;
    }

  #secundario::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
              /* Top-left */
              var(--border-width) 
              calc(var(--curve-size) + var(--border-width) * .5),
  
              calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),
  
              /* top-right */
              calc(100% - var(--border-width)) 
              var(--border-width),
  
              calc(100% - var(--border-width)) 
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
  
              /* bottom-right 1 */
              calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
              /* bottom-right 2 */
              var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
  }
  #secundario:where(:hover, :focus) {
    color: #fff;
}
/*???????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????????*/